.i-arrow-right:before {
  content: "\e909";
}
div {
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
:focus {
  outline: 0;
}
.product-detail-breadcrumb {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
  width: 1200px;
  margin: 20px auto 15px auto;
}
.product-detail-breadcrumb .product-detail-breadcrumb-item {
  height: 18px;
  max-width: 210px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.product-detail-breadcrumb .product-detail-breadcrumb-item .i-arrow-right {
  font-size: 9px;
  color: #f27a1a;
  margin: 0 10px;
  font-weight: 600;
}
.product-detail-breadcrumb .product-detail-breadcrumb-item:hover span {
  text-decoration: underline;
}
.product-detail-breadcrumb .product-detail-breadcrumb-item:last-child {
  background: 0 0;
  
  -webkit-font-smoothing: antialiased;
}
.product-detail-breadcrumb .product-detail-breadcrumb-item .i-arrow-right {
  font-size: 9px;
  color: #f27a1a;
  margin: 0 10px;
  font-weight: 600;
}