.shopping-cart {
  &-item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 16px;
    height: 16px;
    color: #fff;
    background-color: #f27a1a;
    border-radius: 50%;
    margin-left: 3px !important;
  }
}